DATABASE_URL=postgres://localhost:5432/tsunade
PORT=3000
NODE_ENV=development
FINNHUB_API_KEY=
FINNHUB_API_BASE_URL=https://finnhub.io/api/v1
EXCHANGERATE_HOST_API_KEY=
EXCHANGERATE_HOST_API_BASE_URL=https://api.exchangerate.host
JWT_SECRET=
WEB_ORIGIN=http://localhost:5173
